$text-color: #FFFFFF;
$correct-color: rgba(214, 2, 238, 0.9);
$wrong-color: rgba(229, 67, 4, 0.9);
@mixin custom-button($font-size) {
  font-size: $font-size;
  padding: 14px 20px;
  color: #5096C0;
  border-radius: 10px;
}

.welcome {
  display: flex;
  align-items: center;
  width: 100%;
  .logo {
    width: 45%;
    min-width: 200px;
    max-width: 90%;
    flex: 0 1 40%;
    img {
      animation: floating 3s infinite alternate;
      animation-timing-function: ease-in-out;
    }
  }
  .text {
    flex: 1 1 auto;
    margin-left: 2%;
    h2 {
      font-size: 50px;
      color: $text-color;
    }
    button.mat-button {
      @include custom-button(35px);
      margin-left: 15%;
    }
  }
  @media (max-width: 768px) {
    flex-direction: column;
    .text {
      text-align: center;
      h2 {
        font-size: 45px;
        font-weight: normal;
        margin: 0.6em 0;
      }
      button.mat-button {
        margin-left: 0;
        margin-top: 30px;
        font-size: 28px;
      }
    }
  }
}

.small-logo {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 60px;
  @media (max-width: 960px) {
    top: 5px;
    left: 5px;
    width: 50px;
  }
  @media (max-width: 500px) {
    top: 3px;
    left: 3px;
    width: 30px;
    opacity: 0.2;
  }
  img {
    width: 100%;
    filter: drop-shadow(0px 0px 2px rgba(255, 255, 255, 1));
  }
}

.main-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  padding: 30px 4% 78px;
  box-sizing: border-box;
  flex-direction: column;
  position: relative;
  &.show {
    animation: slideIn 0.25s 1 alternate;
  }
  &.hide {
    overflow: hidden;
    .question-wrapper {
      animation: slideOut 0.25s 1 alternate;
    }
  }
  @media (max-width: 500px) {
    padding-top: 5px;
  }
  .question-wrapper {
    max-width: 94%;
    @media (min-width: 1200px) {
      max-width: 75%;
    }
  }
  .next-question-controls {
    position: absolute;
    bottom: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    padding: 0 80px;
    color: #FFF;
    font-size: 1.1em;
    span {
      margin-left: 20px;
      border-radius: 200px;
      color: #000;
      background-color: #FFF;
      padding: 2px 8px;
    }
    button.mat-button {
      @include custom-button(25px);
      margin-left: 15px;
      @media (max-width: 500px) {
        font-size: 20px;
      }
    }
    @media (min-width: 768px) {
     bottom: 35px;
    }
  }
}

::ng-deep {
  .cdk-overlay-pane {
    .mat-snack-bar-container {
      &.correct {
        background-color: $correct-color
      }
      &.wrong {
        background-color: $wrong-color
      }
      .mat-simple-snackbar {
        font-size: 1.4em;
        line-height: 1;
        @media (max-width: 960px) {
          font-size: 1.2em;
          line-height: 1.1;
          justify-content: center;
        }
      }
    }
  }
}

.results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 1.3em;
  text-align: center;
  line-height: 1.4;
  h2 {
    font-size: 1.9em;
  }
  h3 {
    font-weight: normal;
  }
  button {
    @include custom-button(26px);
    margin-top: 5%;
  }
}

@keyframes floating {
  0% {
    transform: translatey(0px);
    filter: drop-shadow(0px 0px 4px rgba(255, 255, 255, 1))
  }
  100% {
    transform: translatey(-14px);
    filter: drop-shadow(0px 0px 8px rgba(255, 255, 255, 1))
  }
}

@keyframes neonBlink {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-5px);
  }
  100% {
    transform: translatey(-10px);
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 1))
  }
}

@keyframes slideOut {
  0% {
    transform: translatex(0px);
    opacity: 1;
  }
  95% {
    transform: translatex(110vw);
    opacity: 0;
  }
  100% {
    transform: translatex(-110vw);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideIn {
  0% {
    transform: translatex(-110px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translatex(0px);
    opacity: 1;
  }
}