<div class="main-wrapper" #mainWrapper>
  <div class="small-logo" *ngIf="!inWelcome">
    <img src="./assets/img/angular.svg" alt="">
  </div>
  <div class="welcome" *ngIf="inWelcome">
    <div class="logo">
      <img src="./assets/img/angular.svg" alt="">
    </div>
    <div class="text">
      <h2>Welcome to <br> Angular trivia</h2>
      <p><button mat-button (click)="startApp()">Start <mat-icon>arrow_forward</mat-icon></button></p>
    </div>
  </div>

  <div *ngIf="showQuestion" class="question-counter">
    {{this.questionIndex + 1}} / {{this.questions.length}}
  </div>

  <div class="question-wrapper" *ngIf="showQuestion">
    <app-question [currentQuestion]="currentQuestion" [disabled]="!!answerMessage" (answer)="checkAnswer($event)"></app-question>
  </div>

  <div class="next-question-controls" *ngIf="answerMessage">
    <h3>Next question...</h3>
    <span class="countdown">{{ countdown }}</span>
    <button mat-button (click)="skipToNextQuestion()">Skip <mat-icon>arrow_forward</mat-icon></button>
  </div>
  <div class="results" *ngIf="!inWelcome && isGameOver">
    <ng-container *ngIf="correctAnswersCount >= questions.length * 0.7 else keepLearning">
      <h2>🙌🙌</h2>
      <h3>Well done!!</h3>
    </ng-container>
    <h3>Your score: <span class="highlight">{{totalScore | number}}</span></h3>
    <h3>Correct answers: <span class="highlight">{{correctAnswersCount}}</span></h3>
    <button mat-button (click)="resetApp()">Play Again <mat-icon>cached</mat-icon></button>
    <button mat-button (click)="saveUserScore()">Save score</button>
  </div>
</div>
<ng-template #keepLearning>
  <h3>Keep going, we still have some things to learn !!</h3>
  <h2>💪💪</h2>
</ng-template>


