<div *ngIf="currentQuestion && !isGameOver">
  <h3>{{currentQuestion.question}}</h3>
  <ol>
    <li *ngFor="let option of currentQuestion.options">
      <button mat-raised-button
              [disabled]="!!answerMessage"
              color="primary"
              (click)="checkAnswer($event.target,option.isCorrect)">
        {{ option.answer }}
        <!-- [disabled]="!!answerMessage" -->
      </button>
    </li>
  </ol>
  <ng-container *ngIf="answerMessage">
    <h4>Your answer is: {{answerMessage}}</h4>
    <span>{{ countdown }}</span>
  </ng-container>
</div>
<div *ngIf="currentQuestion && isGameOver">
  <h2>Game Over</h2>
  <h3>Your score is: {{finalScore}}</h3>
</div>